<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <h3>Contact</h3>
            <input type="form" placeholder="name">
            <input type="form" placeholder="email">
            <input type="submit">
        </div>
    </div>
</div>



<% include partials/footer %>