<html>
    <head></head>
    <body>
        
    <p>Submit to view its filesize.</p>

    <form action="/filesize/get-file" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit">
    </form>
        
    </body>
</html>




