<% include partials/header %>

<header class="jumbotron">
    <h1>This is the landing page</h1>
</header>

<p>This will be the landing page</p>

<a href="/projects">Go to the home page</a>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTd4VscS2JXZJ2D55LpBJUax_imA0DRc9TllGJsEiFGAhRlwg_">

<% include partials/footer %>
