<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <h1>This is a website to show some coding projects</h1>
    </header>
    
    <p>View the selection projects</p>
    
    <a href="/projects">Go to the home page</a>
    
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTd4VscS2JXZJ2D55LpBJUax_imA0DRc9TllGJsEiFGAhRlwg_">
</div>

<% include partials/footer %>
