<% include partials/header %>
    
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>View the projects, with nice views of mountains!</h1>
            <p>View all the projects</p>
       </div>
    </header>
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="https://static.comicvine.com/uploads/original/8/82727/1525513-the_moutain____by_vincentfavre.jpg">
                <div class="caption">
                    <h4>Todo App</h4>
                    <a href="/todoabout">Link</a>
                </div>
            </div>
        </div>
        <!--<div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="https://media-cdn.tripadvisor.com/media/photo-s/0e/34/36/55/svanati-moutain.jpg">
                <div class="caption">
                    <h4>Campsite Website</h4>
                    <a href="/campsite">Link</a>
                </div>
            </div>
        </div>-->
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="http://media-cdn.tripadvisor.com/media/photo-s/02/c4/e6/38/mount-mckinley.jpg">
                <div class="caption">
                    <h4>Weather App</h4>
                    <a href="/weather">Link</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c5/Moraine_Lake_17092005.jpg">
                <div class="caption">
                    <h4>Twitchtv JSON App</h4>
                    <a href="/twitchtv">Link</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="https://pbs.twimg.com/profile_background_images/399492900/montana-mountains.jpg">
                <div class="caption">
                    <h4>Calculator App</h4>
                    <a href="/calc_app">Link</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-lYYljqQNSPOe9wA0aF2nCIzKlEnX7IVlQZetJ1TPXCyb7uHW">
                <div class="caption">
                    <h4>Pomodoro Clock</h4>
                    <a href="/pomodoro_app">Link</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSax952iY_-aj8YazBYSP_JEsbhBjgc4IKiJ9OcJvGz1hNylcH2OA">
                <div class="caption">
                    <h4>Tic Tac Toe App</h4>
                    <a href="/tictactoeapp">Link</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7NcpS8sQbE-jXbduAP5fBSWfCn3wC89EsKmyW9oZKZu_vSaCulQ">
                <div class="caption">
                    <h4>Simon Game App</h4>
                    <a href="/simongameapp">Link</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMPAf2ZW3HJ9K8-5cCT_6CspveOgWyAuJ3FZGN82LSwfsqN5a1tQ">
                <div class="caption">
                    <h4>Timestamp App</h4>
                    <a href="/timestampapp">Link</a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>