<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>I was wondering how I could see the ip address, language, and operating system. This app did the trick.</h3>
            <a href="/requestheader">Request Header App</a>
        </div>
    </div>
</div>



<% include partials/footer %>