<!DOCTYPE html>
<html>
    <head>
        <title>Simon App</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/simongame.css">
        <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous">
        </script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>

    </head>
    <body>
        
<p id="dummyBlue"></p>
<p id="dummyGreen"></p>
<p id="dummyYellow"></p>
<p id="dummyRed"></p>
<p id="strictStart"></p>

<div class="game"></div>
<div id="circle1" class="blue inline"></div>
<div id="circle2" class="green inline"></div>
</div>
<div class="game">
<div id="circle3" class="yellow inline"></div>
<div id="circle4" class="red inline"></div>
</div>

<div id="circle">
    <div class="wrapcontent">
        <div class="row">
            <h3>Simon Game</h3>
        </div>
        <div class="row">
            <button id="start" class="firstRow">Start</button>
            <p class="firstRow">Strict</p>   <input type="checkbox" class="firstRow" value="Strict" id="strictcheckbox">
        </div>
        <div class="row">
            <input type="button" class="firstRow" value="Reset" id="reset">
            <p class="firstRow">Count: </p><p id="count" class="firstRow">--</p>
            <p id="status" class="firstRow">--</p>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/simongame.js"></script>
    </body>
</html>
