<!DOCTYPE html>
<html>
    <head>
        <title>Simon App</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/simongame.css">
        <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous">
        </script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>

    </head>
    <body>
        
<button id="start">Start</button>

<input type="button" value="button" class="blue">
<input type="button" value="button" class="green">
<input type="button" value="button" class="yellow">
<input type="button" value="button" class="red">
<p>Strict</p><input type="checkbox" value="Strict" id="strictcheckbox">
<input type="button" value="Reset" id="reset">

<p>Count: </p><p id="count">--</p>

<p id="status">--</p>

<p id="dummyBlue"></p>
<p id="dummyGreen"></p>
<p id="dummyYellow"></p>
<p id="dummyRed"></p>
<p id="strictStart"></p>

<script type="text/javascript" src="/js/simongame.js"></script>
    </body>
</html>
