<!DOCTYPE html>
<html>
    <head>
        <title>Calculator App</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/tictactoe.css">
        <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous">
        </script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>

    </head>
    <body>
    
<h1>Tic Tac Toe</h1>

<div class="container">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td><button id="a1">Click</button></td>
                <td><button id="b1">Click</button></td>
                <td><button id="c1">Click</button></td>
            </tr>
            <tr>
                <td><button id="d1">Click</button></td>
                <td><button id="e1">Click</button></td>
                <td><button id="f1">Click</button></td>
            </tr>
            <tr>
                <td><button id="g1">Click</button></td>
                <td><button id="h1">Click</button></td>
                <td><button id="i1">Click</button></td>
            </tr>
        </tbody>
    </table>
</div>    
    
    

    <button class="comp">Comp Move</button> 
    <p>In case of tie click Comp Move again to see tie</p>

        
<div class="container">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td><i id="a" class="fa" aria-hidden="true"></i></td>
                <td><i id="b" class="fa" aria-hidden="true"></i></td>
                <td><i id="c" class="fa" aria-hidden="true"></i></td>
            </tr>
            <tr>
                <td><i id="d" class="fa" aria-hidden="true"></i></td>
                <td><i id="e" class="fa" aria-hidden="true"></i></td>
                <td><i id="f" class="fa" aria-hidden="true"></i></td>
            </tr>
            <tr>
                <td><i id="g" class="fa" aria-hidden="true"></i></td>
                <td><i id="h" class="fa" aria-hidden="true"></i></td>
                <td><i id="i" class="fa" aria-hidden="true"></i></td>
            </tr>
        </tbody>
    </table>
</div>

<p id="outcome"></p>

<button id="reset">Reset</button>
        
<script type="text/javascript" src="/js/tictactoe.js"></script>

    </body>
</html>


