<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>I was wondering how I could tell if a string was a unix or date time. This app did the trick.</h3>
            <a href="/timestamp">Time Stamp App</a>
        </div>
    </div>
</div>



<% include partials/footer %>